/* fixed width */
.task, .numbers, .arrows {
    width: 875px;
}

/* proper aligning */
.numbers {
    font-size: 42pt;
    text-align: center;
}

.arrows {
    position: relative;
    margin-left: 33px;
    margin-bottom: -25px;
}

#arrowsImg2 {
    margin-left: -9px;
}

/* proper sizers */
#aNumInput, #bNumInput {
    width: 20px;
}

#sumNumInput {
    font-size: 36pt;
    width: 58px;
}

.numInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* wrong answers highlighting */
.wrongNum {
    background-color: #ffff00;
}

.wrongInput {
    color: red;
}

/* hide elements */
.hidden {
    visibility: hidden; 
}

.nonExists {
    display: none;
}
